<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="row">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <% for research in @researches %>
              <li><%= link_to(research.title, research_path(research)) %></li>
          <% end %>
        </ul>
        </ul>
      </div>
    </div><!--/.row -->
  </div><!--/.container -->
<%= link_to("Add New Menu Item", new_research_path) %>