.mapid-details-header {
    background: none repeat scroll 0 0 #85a616;
    color: white;
   border-bottom: 1px solid #e5e5e5;
    min-height: 16.4286px;
    padding: 15px;
   font-size: 18px;
   font-weight: bold;
}
.mapid-label {
   font-weight:bold;
   margin-bottom:4px;
}
.mapid-details {
   border-bottom: 1px dotted #ddd;
   padding: 10px 10px 10px 14px;
   font-size: 12px;
}

#map-result {
  border: 1px solid #85a616;
  margin-left:520px;
  position:absolute;
  margin-top:0px;
  width:249px;
}

#map {
  width:500px;
  height:400px;
  float:left;
  border:1px solid #e5e5e5;
}

