<h2><%= @technologies.title %></h2>
<p><%= @technologies.contents %></p>
<p><%= link_to("Edit this entry", edit_technology_path(@technologies)) %></p>
<p><%= link_to("Back to all entries", technologies_path) %></p>